$dark-blue: #28283a;

$bg-color: $dark-blue;

$text-color: white;


$s-shape-tile-color: green;
$z-shape-tile-color: red;
$t-shape-tile-color: purple;
$l-shape-tile-color: blue;
$line-shape-tile-color: cyan;
$mirrored-l-shape-tile-color: pink;
$square-shape-tile-color: yellow;
