$board-height:80vh;
$board-columns: 10;
$board-rows: 20;
$tile-width: $board-height / $board-rows;
$tile-height: $tile-width;
$board-width: $tile-height * $board-columns;
$tile-border-width: $tile-width * 0.1;
